[Unit]
Description=Set system hostname from RIasC config
ConditionPathIsReadWrite=/etc

Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/bin/riasc-set-hostname.sh

[Install]
WantedBy=multi-user.target
