[Unit]
Description=Update RIasC

After=network-online.target
After=getty@tty2.service
Wants=network-online.target

ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/bin/riasc-update.sh

StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
